# Naive Bayes Algorithm

it is based on the bayes probablity theorem . 

It assumes that there is no corelation between features in a dataset used for training the model.

It calculates the probablity of the test data with certain features belonging to the particular group

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#reading the dataset
dataset = pd.read_csv("datasets/sms.tsv" , sep='\t')

In [3]:
dataset.head()

,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
0,ham,Ok lar... Joking wif u oni...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,U dun say so early hor... U c already then say...
3,ham,"Nah I don't think he goes to usf, he lives aro..."
4,spam,FreeMsg Hey there darling it's been 3 week's n...

In [4]:
dataset.columns

Index(['ham', 'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'], dtype='object')

In [5]:
d = {'ham':"results",'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...':"Message"}

In [6]:

dataset.rename(columns =d,inplace =True)

In [7]:
dataset.head()

  results                                            Message
0     ham                      Ok lar... Joking wif u oni...
1    spam  Free entry in 2 a wkly comp to win FA Cup fina...
2     ham  U dun say so early hor... U c already then say...
3     ham  Nah I don't think he goes to usf, he lives aro...
4    spam  FreeMsg Hey there darling it's been 3 week's n...

In [8]:
dataset['results'] = dataset['results'].map({"ham":0,"spam":1})

In [9]:
dataset.head(3)

   results                                            Message
0        0                      Ok lar... Joking wif u oni...
1        1  Free entry in 2 a wkly comp to win FA Cup fina...
2        0  U dun say so early hor... U c already then say...

In [11]:
#performing data cleaning 
import re
def clean(x):
    s = re.sub('[^A-Za-z]'," ",x)
    s = re.sub("\s+"," ",s)
    s = s.strip()
    return s.lower()

In [12]:
dataset['Message'] = dataset['Message'].apply(clean)

In [13]:
dataset['Message'].head()

0                              ok lar joking wif u oni
1    free entry in a wkly comp to win fa cup final ...
2          u dun say so early hor u c already then say
3    nah i don t think he goes to usf he lives arou...
4    freemsg hey there darling it s been week s now...
Name: Message, dtype: object

In [14]:
X_Data = dataset['Message']
Y_Data = dataset['results']

In [21]:
type(X_Data)

pandas.core.series.Series

In [23]:
# removing the words used in stopwords

# removing the "Not" from stopwords
from nltk.corpus import stopwords

In [24]:
stopwords = set(stopwords.words('english'))

In [25]:
if 'not' in stopwords:
    stopwords.remove('not')

In [26]:
#checking
if 'not' in stopwords:
    print('yes')
else :
    print('no')

no

In [27]:
# implementing the Count Vectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
cv = CountVectorizer(stop_words = stopwords)

In [32]:
train_data = cv.fit_transform(xtrain).toarray()

In [33]:
test_data = cv.transform(xtest).toarray()

In [34]:
train_data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [35]:
test_data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [36]:
from sklearn.naive_bayes import MultinomialNB

In [37]:
nb = MultinomialNB()

In [38]:
nb.fit(train_data,ytrain)

MultinomialNB()

In [39]:
pred = nb.predict(test_data)

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
accuracy_score(pred,ytest)

0.979372197309417

In [42]:
# if we used Logistic regression then our accuracy was aroung 76 percent but no the accuracy is around 97 percent

In [43]:
# creating a testing data
test = ['Hello arnav @1234 lets meet today @ 7pm']

In [44]:
cleaned_data =[]
for word in test:
    t = clean(word)
    cleaned_data.append(t)

In [45]:
print(cleaned_data)

['hello arnav lets meet today pm']

In [46]:
test_data = cv.transform(cleaned_data)

In [47]:
pred = nb.predict(test_data)

In [50]:
if pred == [0]:
    print("its genuine")
else :
    print("Its a spam")

its genuine